<div class="container">
<div class="col">
 <h2> Welcome to the sample app </h2>
 <p>this platform is for creating you post and sharing the with yours firend</p> 
 <%= button_to  "login", login_path %> <%= button_to  "sign_up", signup_path %>
</div>  
</div>