<div class="container">
<div class="col">
 <h2> Welcome to the sample app </h2>
 <p>this platform is for creating you post and sharing the with yours firend</p> 
 
 <button> <a href="/login">login</a></button> 
 <button>  <a href="/signup"> signup</a></button> 
</div>  
</div>  