// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 100%;
}

.col{
  width: 60%;
  margin: auto;
}

form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

input{
  margin-top: 10px;
}